.slide {
    
    .qsm_results {
        padding: 30px;
        .qmn_question_answer {
            padding: 10px 30px;
            * {
                display: none;
            }
            .question-title, .queston-title, .question-tile {
                display: block;
                color: $tired;
            }
            &:nth-child(even) {
                background: rgba(0,0,0, 0.04);
            }
            &:nth-child(odd) {
                background: rgba(0,0,0, 0.08);
            }
        }
    }
}

.entry-content {
    position: relative;
    .total-score {
        position: absolute;
        top: 0;
        font-size: 140px;
        color: $tired;
        left: 30%;
        width: 320px;
        text-align: center;
        span {
            display: block;
            font-size: 23px;
            position: absolute;
            bottom: 11px;
            right: 35px;
        }
    }
}