.column {
    .wppb-user-forms {
        &.wppb-register-user {
            input, textarea {
                width: 90%;
            }
        }
        ul {
            padding-left: 0 !important;
        }
        li {
            padding: 10px 0;
            &:first-child {
                padding-top: 0;
            }
        }
        input {
            display: block;
            height: 35px;
            width: 50%;
           margin-top: 5px;
            border: 1px solid #aaa;
            border-radius: 2px;
            color: #525252;
        }
        textarea {
            width: 50%;
            height: 100px;
            margin-top: 5px;
            border: 1px solid #aaa;
            border-radius: 2px;
            color: #525252;
        }
        label {
            display: block;
            text-indent: 0;
            color: black;
        }
        .wppb-send-credentials-checkbox, .login-remember, .wppb-checkbox-terms-and-conditions, .wppb-checkbox {
            label {
                position: relative;
                padding-left: 30px;
            }
            input {
                width: 20px;
                display: inline;
                position: absolute;
                bottom: -6px;
                left: 0;
            }
            #custom_field_4 {
                bottom: 72%;
            }
        }
        .form-submit, .login-submit {
            input {
                width: auto;
            }
        }
    }
}