@mixin radial-gradient($from, $to) {
	background: -moz-radial-gradient(top, ellipse cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, top ellipse, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(top, ellipse cover, $from 0%, $to 100%);
	background: -o-radial-gradient(top, ellipse cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(top, ellipse cover, $from 0%, $to 100%);
	background: radial-gradient(top, ellipse cover, $from 0%, $to 100%);
	background-color: $from;
}

@mixin linear-gradient($start, $end, $from, $to) {
    background: linear-gradient($start $end, $from, $to);
    background: -webkit-linear-gradient($start, $end, $from, $to);
}