.ui-accordion-header, .ui-accordion-content {
  background-color: $blackbackgroundeight;
  &:nth-of-type(odd) {
    background-color: $blackbackgroundfour;
  }
}

.slide {
	.slide-header h3 span {
		font-size: 24px;
		color: $tired;
		font-weight: 300;
	}
	.accordion h3 {
		font-size: 20px;
		font-weight: 300;
	}
}

.inner-paragraph {
  background-color: $whitebackgroundsixty;
  padding: 20px;
  color: grey;
}


.quiz_section .qmn_button {
        color: #fff;
        font-size: 14px;
        background: $tired;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        padding: 7px 25px 7px 15px;
        text-align: center;
        border: solid 3px $buttonborder;
        margin-bottom: 20px;
        display: inline-block;
        position: relative;
        font-weight: 700;
			&:after {
			content:"»";
			font-size:20px;
			letter-spacing: 2px;
			font-family:Lato;
			padding:0 0 0 5px;
			color:white;
			position:absolute;
			top:1px;
			right: 10px;
		}
    }